<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
>

	<!-- The definition of the Root Spring Container shared by all Servlets and Filters -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/spring/root-context.xml</param-value>
	</context-param>
	
	<!-- Creates the Spring Container shared by all Servlets and Filters -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- <filter>
		<filter-name>urlFielter</filter-name>
		<filter-class>com.wzlee.hgm123.fielter.URLFielter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>urlFielter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping> --> 

 	<filter>  
    	<filter-name>characterEncodingFilter</filter-name>  
    	<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>  
    	<init-param>  
        	<param-name>encoding</param-name>  
        	<param-value>UTF-8</param-value>  
    	</init-param>  
    	<init-param>  
        	<param-name>forceEncoding</param-name>  
        	<param-value>true</param-value>  
    	</init-param>  
	</filter>  
	<filter-mapping>  
	    <filter-name>characterEncodingFilter</filter-name>  
	    <url-pattern>/*</url-pattern>  
	</filter-mapping>  

	<!-- Processes application requests -->
	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/servlet-context.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
		
	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
    
	<!-- 控制jsp:include的编码 -->  
	<!-- <jsp-config>     
		<jsp-property-group>     
			<description>Special property group for JSP Configuration HTML example.</description>     
			<display-name>JSPConfiguration</display-name>     
			<url-pattern>*.html</url-pattern>     
			<el-ignored>true</el-ignored>     
			<page-encoding>UTF-8</page-encoding>     
			<scripting-invalid>false</scripting-invalid>     
			<include-prelude></include-prelude>     
			<include-coda></include-coda>     
		</jsp-property-group>     
	</jsp-config> -->
	
	<servlet> 
      	<servlet-name>QuartzInitializer</servlet-name> 
      	<servlet-class>org.quartz.ee.servlet.QuartzInitializerServlet</servlet-class> 
      	<init-param>
        	<param-name>shutdown-on-unload</param-name>
        	<param-value>true</param-value>
      	</init-param>
      	<load-on-startup>2</load-on-startup>
    </servlet>
	
	<!-- quartz context/container Listener -->
	<context-param>
		<param-name>quartz:config-file</param-name>
		<param-value>classpath:quartz.properties</param-value>
	</context-param>
	<context-param>
		<param-name>quartz:shutdown-on-unload</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>quartz:wait-on-shutdown</param-name>
		<param-value>false</param-value>
	</context-param>
	<context-param>
		<param-name>quartz:start-scheduler-on-load</param-name>
		<param-value>true</param-value>
	</context-param>
	<listener>
		<listener-class>
             org.quartz.ee.servlet.QuartzInitializerListener
		</listener-class>
	</listener>

	<display-name></display-name>	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<!-- SpringMVC异常处理页面 -->
	<error-page>
		<error-code>401</error-code>
		<location>/WEB-INF/views/error/401.jsp</location>
	</error-page>
	
	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/views/error/404.jsp</location>
	</error-page>
    
	<error-page>
		<error-code>500</error-code>
		<location>/WEB-INF/views/error/500.jsp</location>
	</error-page>

</web-app>
